---
import { AstroFont } from "astro-font";
import ChannelList from "../components/channel-list/ChannelList.astro";
import MessageList from "../components/message-list/MessageList.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<!-- TODO: Enable once internet is back -->
<!-- 		<AstroFont
			config={[
				{
					src: [],
					name: "Open Sans",
					// Google Fonts URL
					googleFontsURL:
						"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap",
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
					fetch: true, // TODO: Reenable
				},
			]}
		/> -->
	</head>
	<body>
		<ChannelList />
		<MessageList />
	</body><style>
		:global(:root) {
			--padding: 1em;
			--border-radius: 0.15em;
		}
		:root {
			background-color: #313338;
			color: white;
		}
		html {
			margin: 0;
			height: 100%;
		}
		body {
			margin: 0;
			height: 100svh;
			overflow: scroll;

			display: grid;
			grid-template-rows: 60px calc(100% - 80px);
		}
		@media screen and (min-width: 650px) {
			body {
				grid-template-columns: minmax(10%, 300px) auto;
				grid-template-rows: 100vh;
			}
		}
	</style>

	<script>
		import { refreshState } from "../components/IndexElement";
		await refreshState();
	</script>
</html>
