---
import { Icon } from "astro-icon/components";
import Channel from "./Channel.astro";
---

<x-channel-list>
  <header>
    <button><Icon name="mdi:arrow-back" size={24} /></button>
    <h1>TODO</h1>
  </header>
  <nav>
    <ol id="channels">
      <Channel name="DUMMY" hidden={true} />
    </ol>
  </nav>
</x-channel-list>

<style>
  x-channel-list {
    display: block;
    background-color: #2b2d31;
  }
  header {
    display: flex;
    margin: var(--padding);
    gap: 1rem;
  }
  h1 {
    margin: 0;
    font-size: larger;
  }
  button {
    background-color: transparent;
    border: none;
    margin: 0;
    color: white;
  }
  nav {
    display: none;
    margin: 0;
    padding: var(--padding);
  }
  ol {
    padding: 0;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    list-style: none;
    height: fit-content;
  }
  @media screen and (min-width: 650px) {
    x-channel-list {
      height: 100%;
    }
    header {
      display: none;
    }
		nav {
			display: block;
      height: fit-content;
		}
	}
</style>