---
import "@uppy/core/dist/style.min.css";
import "@uppy/dashboard/dist/style.min.css";
import Message from "./Message.astro";
import MessageInput from "./MessageInput.astro";
---
<div id="wrapper">
  <div id="scroll">
    <x-message-list>
      <Message date={""} text={""} />
    </x-message-list>
  </div>
  <!-- <button id="button-upload">Upload a file</button> -->
  <MessageInput />
</div>


<style>
  #wrapper {
    min-width: fit-content;

    margin: var(--padding);
    position: relative;
    
    display: grid;
    grid-template-rows: auto fit-content;

    max-height: 100%;
  }
  #scroll {
    overflow: scroll;
    height: fit-content;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  x-message-list {
    padding: 0;
    list-style: none;
  }
</style>