<x-message-input>
  <textarea name="message-input" id="message-input" autofocus spellcheck="false"/>
  <div>Send or do things :)</div>
</x-message-input>

<style>
  x-message-input {
    display: grid;
    grid-template-columns: 80% 20%;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding: 0.5em;
    border-radius: var(--border-radius);
    background-color: #2b2d31;
  }

  textarea {
    height: 26px;
    
    resize: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    font-family: inherit;
    color: whitesmoke;
    
    border-radius: var(--border-radius);
    background-color: #313338;

    transition: background-color 0.1s ease-in-out;
  }
  textarea:focus {
    color: white;
    background-color: #45484f;
  }
</style>

<script>
import DropTarget from "@uppy/drop-target";

  class MessageInputElement extends HTMLElement {
    public constructor() {
      super();
      const textarea = this.querySelector("textarea")!;

      textarea.addEventListener("keydown", (e) => {
        if (e.key == "Enter" && !e.shiftKey) {
          e.preventDefault();
          const target = e.target as HTMLTextAreaElement;
          target.style.height = "26px";
          target.value = "";
        }
      })
      textarea.addEventListener("input", (e) => {
        const target = e.target as HTMLTextAreaElement;
        target.style.height = "1px";
        target.style.height = `${target.scrollHeight}px`;
      });
    }
  }
  customElements.define("x-message-input", MessageInputElement);
</script>