<x-message-input>
  <textarea name="message-input" id="message-input" autofocus spellcheck="false" />
  <button id="submit">Send</button>
</x-message-input>

<style>
  x-message-input {
    display: grid;
    grid-template-columns: auto max-content;

    height: fit-content;
    min-width: fit-content;

    align-self: end;

    padding: 0.2em;
    border-radius: var(--border-radius);
    border-color: antiquewhite;
    background-color: #2b2d31;
  }

  textarea {
    height: 30px;
    max-height: 40svh;

    resize: none;
    border: none;
    outline: none;
    box-shadow: none;

    font-family: monospace;
    font-size: 20px;
    color: gainsboro;

    border-radius: var(--border-radius);
    background-color: #313338;

    transition: background-color 0.1s ease-in-out;
  }
  textarea:focus {
    color: white;
    background-color: #404249;
  }
  #submit {
    cursor: pointer;
  }
</style>

<script>
  import { MessageInputElement } from "./MessageInputElement";
  
  customElements.define("x-message-input", MessageInputElement);
</script>
